<script>
    function scrollToSection(sectionId) {
        const section = document.getElementById(sectionId);
        if (section) {
            const yOffset = -60; // 네비게이션 바 높이 보정
            const y = section.offsetTop + yOffset; // 요소의 Y 위치 계산
            window.scrollTo({
                top: y,
                behavior: 'smooth' // 부드러운 스크롤
            });
        } else {
            console.error(`Section with ID "${sectionId}" not found.`);
        }
    }
    </script>
    
    {% extends "base.html" %}
    
    {% block title %}
    모델 종류
    {% endblock %}
    
    {% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static '../static/css/model_type.css' %}">
    {% endblock %}
    
    {% block content %}
    <div class="side-menu">
        <button onclick="scrollToSection('overview')">개요</button>
        <button onclick="scrollToSection('server')">Server</button>
        <button onclick="scrollToSection('faceforensics')">Xception</button>
        <button onclick="scrollToSection('mesonet')">MesoNet4</button>
        <button onclick="scrollToSection('LSTMGRU')">VGG16 + LSTM/GRU</button>
    </div>
    
    <section id="overview">
        <h2>개요</h2>
        <h3 class="text-white" style="text-align: center;">조선대학교 오픈소스SW프로젝트입니다.</h3>
        <br>
        <h2 style="text-align: center;">1조</h2>
        <p>
            팀장: 정보통신공학부(정보보안전공) 20212758 서희주<br>
            팀원: 정보통신공학부(정보보안전공) 20203368 박준언<br>
            팀원: 정보통신공학부(정보보안전공) 20203376 이한음<br>
        </p>
        <h3 style="text-align: center;">
            <span style="color: yellow;">GitHub:</span> 
            <a href="https://github.com/OpenSW-Chosun" style="color: white; text-decoration: none;" target="_blank">
                https://github.com/OpenSW-Chosun
            </a>
        </h3>
        
    </section>
    
    <section id="server">
        <h2>GCP Server</h2>
        <p>Ubuntu version: 20.04.6 LTS</p>
        <p>nginx version: 1.18.0 (Ubuntu)</p>
        <p>django version: 4.2.16</p>
        <br>
        <h1 class="text-white" style="text-align: center;">구상도</h1>
        {% load static %}
        <img src="{% static 'img/origin_server.png' %}" alt="origin_server.png" style="max-width: 100%; height: auto;" class="center-image">
    </section>
    
    <section id="faceforensics">
        <h2>Xception</h2>
        <p>Xception 모델은 효율적인 아키텍처로 다양한 얼굴 변조 데이터를 효과적으로 탐지가 가능하다.</p>
        <p>FaceForensics++ 데이터셋으로 학습하여 높은 정확도를 제공합니다.</p>
        <p>이를 통해 실제 환경에서도 신뢰할 수 있는 딥페이크 탐지가 가능합니다.</p>
    </section>
    
    <section id="mesonet">
        <h2>MesoNet4</h2>
        <p>MesoNet은 딥페이크 탐지를 위해 설계된 심층 신경망 모델입니다.</p>
        <p>딥페이크 기술의 확산에 대응하기 위해, MesoNet 기반 딥페이크 탐지 시스템을 개발했습니다.</p>
        <p>이 조합은 공간적 정보와 시간적 정보를 모두 활용해 신뢰도와 효율성을 동시에 확보한 모델입니다.</p>

        <p>현 사이트에서는<br>ReLu 활성화 함수 -> Swish<br> 0.5 0.5 DropOut 비율 -> 0.3 0.5<br>로 변경되었습니다.</p>
    </section>

    <section id="LSTMGRU">
        <h2>VGG16 + LSTM/GRU</h2>
        <p>딥페이크 탐지의 정확도와 효율성을 극대화하기 위해 VGG16, LSTM, GRU의 장점을 결합한 모델을 설계했습니다.
            각각의 기술이 가진 고유한 강점과 한계를 보완하고, 이를 앙상블 설계를 통해 통합하여 더욱 신뢰도 높은 탐지 시스템을 개발했습니다.</p>
        <p>VGG16은 각 프레임에서 공간적 특징을 정교하게 추출하며, 이를 기반으로 LSTM은 시간적 패턴을, GRU는 경량화된 구조로 효율성을 분석합니다.
            두 모델의 강점을 결합하기 위해 평균 앙상블을 설계했으며, 평균 앙상블은 간단하면서도 안정적인 성능을 제공합니다.</p>
        <p>이 조합은 공간적 정보와 시간적 정보를 모두 활용해 <br>딥페이크 탐지의 신뢰도와 효율성을 동시에 확보한 모델입니다.</p>
    </section>
    
    {% endblock %}